
body {
    background-color:gray
}

#canvas-container {
    position: relative;
}

.overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: monospace;
    font-size: 20px;
    padding: 0.5em;
}

#gl-display-canvas {
    /*background-color: #fff;*/
    padding-top: 10px;
    width: 130px;
    height: 130px;
}

#gl-canvas {
    background-color: #fff;
    border: 1px solid black;
    width: 1280px;
    height: 760px;
    float: left;
}

#wrapper {
    overflow: hidden;
}

#ui-container {
    border-left: 20px solid transparent;
    float: left;
}
#ui {
    opacity: 0.8;
}

#ui-container2 {
    border-left: 20px solid transparent;
    float: left;
}
#ui2 {
    opacity: 0.8;
}